ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content:space-between;
  }
  nav{
    max-width: 300px;
  }
  h1,li,h2 {
    background-color: purple;
    color: white;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  }
 nav a {
    color:white

 }
 .container {
    display: flex
 }
.Profileimg {
    max-width: 300px;
}
.projectimg {
    max-width: 300px;
    border: 1px solid black;
    align-items:center;
    justify-content: center;
}
p1,p2,p3 {
  color:white;
  background-color: purple;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  
}
p {
  color: white;
  background-color: purple;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}